@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.navbar h1 {
  color: #e67e08;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e67e08;
}

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.footer h3 {
  color: #e67e08;
}
.footer .links {
  margin-left: auto;
}
.footer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.footer a:hover {
  color: #e67e08;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.radnik-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #f2f2f2;
}
.radnik-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.radnik-preview h4 {
  font-size: 20px;
  color: #e67e08;
  margin-bottom: 8px;
}

.zalbe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #f2f2f2;
}
.zalbe-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.zalbe-preview h4 {
  font-size: 20px;
  color: #e67e08;
  margin-bottom: 8px;
}

#naslov {
  color:#e67e08;
  text-align: center;
}

body {
  background-image: url("background.jpg");
 }

.osoblje {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.osoblje label {
  text-align: left;
  display: block;
}
.osoblje h2 {
  font-size: 20px;
  color: #e67e08;
  margin-bottom: 30px;
}
.osoblje input, .osoblje textarea, .osoblje select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.osoblje button {
  background: #e67e08;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f2f2f2;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e67e08;
  color: white;
}
.zalbe {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.zalbe label {
  text-align: left;
  display: block;
}
.zalbe h2 {
  font-size: 20px;
  color: #e67e08;
  margin-bottom: 30px;
}
.zalbe input, .zalbe textarea, .zalbe select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.zalbe button {
  background: #e67e08;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#displayErr{
  color:#a70707;
}